{% extends "base.html" %}
{% block content %}
<form method="POST">
  <h1>{{ form_title }}</h1>
  {% if user %}

  <p>First name: <input name="first-name" value="{{ user.first_name }}"></p>
  <p>Last name: <input name="last-name" value="{{ user.last_name }}"></p>
  <p>Image url: <input name="image-url" value="{{ user.image_url }}"></p>
  <div><a href="/users/"><button>Cancel</button></a></div>
  <button>Save</button>
  {% else %}
  <h1>Add user</h1>
  <p>First name: <input name="first-name"></p>
  <p>Last name: <input name="last-name"></p>
  <p>Image url: <input name="image-url"></p>
  <button>Save</button>
</form>
{% endif %}
{% endblock %}