<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/static/app.css" rel="stylesheet">
  </link>
</head>

<body>
  <nav>
    <div class="nav-links">
      <a href="/">All posts</a>
      <a href="/users">Users</a>
      <a href="/tags">Tags</a>
    </div>
    <div class="add-links">
      <a href="/users/new">Add user</a>
      <a href="/tags/new">Add tag</a>
    </div>

  </nav>
  <section>
    {% block content %}

    <h1>All posts</h1>
    {% for post in posts %}

    <div class='post'>
      <h3><a href="/posts/{{post.id}}">{{ post.title }}</a></h3>
      <p>{{ post.content }}</p>
      <p>By: <a href="/users/{{post.user.id}}">{{ post.user.first_name }} {{ post.user.last_name }}</a></p>
    </div>

    {% endfor %}

    {% endblock %}
  </section>
</body>

</html>