{% extends "base.html" %}
{% block content %}

<body>
  <h1>{{tag.name}}</h1>
  <div class="update-buttons">
    <div><a href="/tags/{{ tag.id }}/edit"><button>Edit tag</button></a></div>
    <form action="/tags/{{ tag.id }}/delete" method="POST">
      <button>Delete tag</button>
    </form>
  </div>
  <div class="tagged-posts">
    <h2>Posts with this tag:</h2>
    {% if tag.posts %}
    <ul>
      {% for post in tag.posts %}
      <li>{{ post.title }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts with this tag!</p>
    {% endif %}
  </div>

  {% endblock %}
</body>